<form method="post" action="/products/<%=@product.id%>">
<input id="hidden" type="hidden" name="_method" value="patch">

Name:
<input type="text" name ="name" value="<%= @product.name %>"/>

Quantity:

<input type="text" name="quantity" value="<%= @product.quantity%>"/>

Vendor Name:

<input type="text" name="vendor_name" value="<%= @product.vendor_name%>"/>
<br>
<br>
<input type="submit" value="Edit product"/>

</form>
<br>
<form  action="/products/<%= @product.id %>" method="post">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input  type="submit" value="Delete Product">
</form> 
<br>
<a href="/products">Go Back</a>