<form action="/products/new" method="post"   
  <input type="submit" value="Continue"/>
  <h3 class="user-product"><%=current_user.manager_name%>, this is a <%= current_user.restaurant_name %>'s  Order List!</h3>
  <p> If you would like to make a change, just click on a product name.</p>
<p>
    <table>
        <thead>
            <tr>
                <th colspan="1">Product Name:</th>
                <th colspan="1">Product Quantity:</th>
                <th colspan="1">Vendor Name:</th>
            </tr>
        </thead>
        <tbody>
            <% @products.each do |product| %>
                <% if product.user == current_user%>
               
                <tr>
                    <td><a href="/products/<%= product.id%>/edit"><%= product.name %></a></td>
                    <td><%= product.quantity %></td>
                    <td><%= product.vendor_name %></td>
                </tr>
                <%end%>
            <%end%>
        </tbody>
    </table>
<br>
<br>

<p><a href="/logout">Log Out</a> or <a href="/products/new">Add a new product</a></p>

