<h3>Hello <%=current_user.manager_name%>!</h3>

<form action="/products/new" method="post"   
  <input type="submit" value="Continue"/>
  <h3 class="user-product">This is <%= current_user.restaurant_name %> Order List:</h3>

<p>
    <table>
        <thead>
            <tr>
                <th colspan="1">Product Name:</th>
                <th colspan="1">Product Quantity:</th>
                <th colspan="1">Vendor Name:</th>
            </tr>
        </thead>
        <tbody>
            <% current_user.products.each do |product| %>
                <tr>
                    <td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
                    <td><%= product.quantity %></td>
                    <td><%= product.vendor_name %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<br>
<br>

<p><a href="/logout">Log Out</a> or <a href="/products/new">Add a new product</a></p>

